body {
  background: #ddd;
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://unsplash.it/1200/800/?random'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-fill-mode: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  background: white;
  padding: 20px 25px;
  border: 5px solid #26a69a;
  width: 550px;
  height: auto;
  box-sizing: border-box;
  position: relative;
}
.col.s6 > .btn {
   width: 100%;
}
.gender-male,.gender-female {
  display: inline-block;
}
.gender-female {
  margin-left: 35px;
}
radio:required {
  border-color: red;
}
.container {
  animation: showUp 0.5s cubic-bezier(0.18, 1.3, 1, 1) forwards;
}

@keyframes showUp {
  0% {
    transform: scale(0);
  }
  100% {
    transoform: scale(1);
  }
}
.row {margin-bottom: 10px;}

.ngl {
  position: absolute;
  top: -20px;
  right: -20px;
}

.gr_custom_container_ {
  /* customize your Goodreads widget container here*/
  border: 1px solid gray;
  border-radius:10px;
  padding: 10px 5px 10px 5px;
  background-color: #FFF;
  color: #000;
  width: 300px
}
.gr_custom_header_ {
  /* customize your Goodreads header here*/
  border-bottom: 1px solid gray;
  width: 100%;
  margin-bottom: 5px;
  text-align: center;
  font-size: 120%
}
.gr_custom_each_container_ {
  /* customize each individual book container here */
  width: 100%;
  clear: both;
  margin-bottom: 10px;
  overflow: auto;
  padding-bottom: 4px;
  border-bottom: 1px solid #aaa;
}
.gr_custom_book_container_ {
  /* customize your book covers here */
  overflow: hidden;
  height: 60px;
    float: left;
    margin-right: 4px;
    width: 39px;
}
.gr_custom_author_ {
  /* customize your author names here */
  font-size: 10px;
}
.gr_custom_tags_ {
  /* customize your tags here */
  font-size: 10px;
  color: gray;
}
.gr_custom_rating_ {
  /* customize your rating stars here */
  float: right;
}

