<nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
        <li class="name">
            <h1><a href="#">bookFinder</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="/dashboard"><span>Home</span></a></li>
        </ul>
    
        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
                <li class="active"></li><a href="/books">Books</a></li>
                <li class=""><a href="/search">Book Search</a></li>
                <li class="has-dropdown">
                    <a href="#">Logout</a>
                </li>
            </ul>
        
            <!-- Left Nav Section -->
            <ul class="left">
                <li><a href="/bookreviews">Book Reviews</a></li>
            </ul>
        </section>
</nav>